@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <meta charset="utf-8">

    <link href="~/Content/TreeTool.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="~/Scripts/treelist.js"></script>
    <script src="~/Scripts/drawFileTree.js"></script>
    <script src="~/Scripts/drawDendrogram.js"></script>
    <script src="~/Scripts/drawVerticalDendrogram.js"></script>

    <title>FCA Tree Tool</title>
</head>
<body>

    <div id="uploadFile">

        @using (Html.BeginForm("UploadFile", "FCA", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <br />
                <p>Select a .CSV, .CGIF or a .CXT File:.</p>
                @Html.TextBox("file", "", new { type = "file" }) <br />
                <input type="submit" value="Upload" accept=".csv,.cgif,.cxt" id="uploadFile" />
                @ViewBag.Message
            </div>
        }
        @ViewBag.Result

    </div>

    <div id="exportFile">

        @using (Html.BeginForm("ExportFile", "FCA", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <hr />

                <p>Select File to export:.</p>

                <form action="/action_page.php">
                    <label for="cars">Choose a filetype:</label>
                    <select name="file" id="file">
                        <option value=".csv">.csv</option>
                        <option value=".cgif">.cgif</option>
                        <option value=".cxt">.cxt</option>
                        <option value=".json">.json</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Export">
                </form>

            </div>
        }

    </div>

    <div id="FCATreeTool">
        <h1>FCA Tree Tool</h1>

        1. Select display type:
        <select id="treeType">
            <option value="list">expandable list</option>
            <option value="dendrogram">dendrogram</option>
            <option value="verticalDendrogram">vertical dendrogram</option>
        </select>
        <span id="viewoptions">
            &nbsp; &nbsp; &nbsp; &nbsp; Options (change forces refresh):
            Attributes <input type="checkbox" id="attributes" name="attributes">
            &nbsp; &nbsp; Objects: <input type="checkbox" id="objects"
                                          name="objects"> &nbsp; Object Count: <input type="checkbox"
                                                                                      id="objectCount" name="objectCount">
        </span>
        <span class="hint" id="dendHint">
            Mouse wheel to zoom. Hold
            click and move mouse to move tree
        </span>

        <div>
            <span>
                2. Select a valid JSON file and upload/draw: @*<input type="file" id="files" />*@
                <button id="upload">Upload->Draw Tree</button>
            </span> <span class="hint" id="verticalHint">
                Mouse over node to see
                attribute and object information
            </span>
        </div>

        <div id="tree-container"></div>

        <script>


            $(document).ready(function () {
                $("#viewoptions").show();
                $("#dendHint").hide();
                $("#verticalHint").hide();

                $('#objects').val(this.checked);

                $("select#treeType").on('change', function () {

                    if ($("#treeType").val() == "verticalDendrogram") {
                        $("#viewoptions").hide();
                    } else {
                        $("#viewoptions").show();
                    }
                    ;

                    if ($("#treeType").val() == "list") {
                        $(".hint").hide();
                    } else {
                        $(".hint").show();
                    };

                });

                $(':checkbox').change(function () {
                    reload(false);
                });

            });

            var fileInput = $('#files');
            var uploadButton = $('#upload');

            function Get(yourUrl) {
                var Httpreq = new XMLHttpRequest();
                // a new request
                Httpreq.open("GET", yourUrl, false);
                Httpreq.send(null);
                return Httpreq.responseText;
            }

            function reload(upload) {

                var input;
                console.log("in reload upload " + upload);
                if (!window.FileReader) {
                    alert('Your browser is not supported')
                }
                //input = fileInput.get(0);

                // Create a reader object
                var reader = new FileReader();
                var jsonFile = Get('https://localhost:44325/fca/GetFile');

                if (jsonFile != null) {
                    var myblob = new Blob([jsonFile], {
                        type: 'application/json'
                    });
                    reader.readAsText(myblob);

                    if ($("#treeType").val() == "list") {
                        $(reader).on('load', drawFileTree);
                    } else if ($("#treeType").val() == "verticalDendrogram") {
                        $(reader).on('load', drawVerticalDendrogram);

                    } else {
                        $(reader).on('load', drawDendrogram);
                    }
                } else {
                    if (upload)
                        alert('Please select a valid json file before continuing')
                }
            };

            uploadButton.on('click', reload);
        </script>
    </div>
</body>
</html>
