
@{
    ViewBag.Title = "Tool";
}
<html>
    <head>
        <meta charset="utf-8">

        <link href="~/Content/TreeTool.css" rel="stylesheet" />

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        <link rel="shortcut icon" href="favicon.ico">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="~/Scripts/treelist.js"></script>
        <script src="~/Scripts/drawFileTree.js"></script>
        <script src="~/Scripts/drawDendrogram.js"></script>
        <script src="~/Scripts/drawVerticalDendrogram.js"></script>

        <title>FCA Tree Tool - Web Application</title>
    </head>

    <body>
        <br />
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            About
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Partial("~/Views/FCA/_about.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            FCA Tool
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @Html.Partial("~/Views/FCA/_tool.cshtml")
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            References
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Andrews, S. (2011). In-close2, a high performance formal concept miner. International Conference on Conceptual Structures, 50–62. <a href="http://shura.shu.ac.uk/5068/1/inclose2paperICCS2011.pdf">http://shura.shu.ac.uk/5068/1/inclose2paperICCS2011.pdf</a></p>
                        <p>Andrews, S., & Hirsch, L. (2016). A tool for creating and visualising formal concept trees. CEUR Workshop Proceedings, 1637, 1–9. <a href="http://shura.shu.ac.uk/id/eprint/13066">http://shura.shu.ac.uk/id/eprint/13066</a></p>
                        <p>Andrews, S., & Polovina, S. (2018). Exploring, Reasoning with and Validating Directed Graphs by Applying Formal Concept Analysis to Conceptual Graphs. In Croitoru, M., Marquis, P., Rudolph, S., & Stapleton, G. (Eds.) Graph Structures for Knowledge Representation and Reasoning: 5th International Workshop, GKR 2017, Melbourne, VIC, Australia, August 21, 2017, Revised Selected Papers, (pp. 3-28). Springer. <a href="http://shura.shu.ac.uk/id/eprint/19112">http://shura.shu.ac.uk/id/eprint/19112</a></p>
                    </div>
                </div>
            </div>
        </div>
                
    </body>
</html>
